<p>{{quote.name}}</p>
<p>This quote last for {{quote.completeDate|dateCount}} days</p>
<!-- <button (click)= 'quoteComplete(true)'>Complete</button> -->
<p>{{quote.sname}}</p>
<p class="card-text">upVotes: {{upVotes}}</p>
  <p class="card-text">downVotes: {{downVotes}}</p>
  <button class="btn btn-outline-success" (click)="likeVote()">UpVote</button>
  <button class="btn btn-outline-info" (click)="dislikeVote()">DownVote</button>
  <button (click)= 'quoteDelete(true)' class="btn btn-outline-secondary">Delete Quote</button>
