<div class="container-fluid">
        <h4 class="text-center">Add a new quote</h4>
        <hr>
        <form #goalForm='ngForm' (ngSubmit)='submitGoal()'>
            <div class="form-group">
      
                <label for="name">Author's Name</label>
                <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel">
                <!-- Display {{newQuote.name}} -->
      
            </div>
            <div class="form-group">
      
                <label for="description">Quote's description</label>
                <textarea class="form-control" id="description" rows="4" required [(ngModel)]="newQuote.description" name="description" #description="ngModel"></textarea>
      
            </div>
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" required>
      
            </div>
            <div class="form-group">
                <label for="name">Submitted by</label>
                <input type="text" required class="form-control" id="sname" [(ngModel)]="newQuote.sname" name="sname" #name="ngModel">
            </div>
            <button type="submit" class="btn btn-success">Add Quote</button>
        </form>
      </div>
